@model IEnumerable<KVS.Models.VoteResult>

@{
    ViewBag.Title = "Result";
}

<h2>Result</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DHEERAJ_MISHRA_B21)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AGRAZ_SHARMA_A17)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ASHISH_GUPTA_A27)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ASHISH_TRIPATHI_C29)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MOHSIN_KHAN_A3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PARWESH_RANJAN_DEEPAK_B13_14)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TARUN_KUMAR_C31)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RAM_KUMAR_B26)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.B52)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Token)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DHEERAJ_MISHRA_B21)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AGRAZ_SHARMA_A17)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ASHISH_GUPTA_A27)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ASHISH_TRIPATHI_C29)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MOHSIN_KHAN_A3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PARWESH_RANJAN_DEEPAK_B13_14)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TARUN_KUMAR_C31)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RAM_KUMAR_B26)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Token)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })*@
        </td>
    </tr>
}

</table>
